<div class="col-md-5 addstory-form-container">
  <h2>Add Story:</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="add-story-form">
    
    <fieldset class="form-group row">
      <label class="col-md-12" for="author-input">Author:</label>
      <div class="col-md-12">
        <div class="col-xs-10">
          <input formControlName="author" placeholder="Example: NHOA" id="author-input" class="form-control" />
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group row" formArrayName="locations">
      <label class="col-md-12" for="location-input-{{form.controls['locations'].controls.length - 1}}">Location:</label>
      <div class="col-md-12" *ngFor="let location of form.controls['locations'].controls; let i=index;">
        <div class="col-xs-10">
          <input formControlName="{{i}}" placeholder="Example: Vietnam" id="location-input-{{i}}" class="form-control"
          />
        </div>
        <div class="col-xs-2">
          <button class="btn btn-default" type="button" *ngIf="i > 0" (click)="onRemoveControl('locations', i)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-xs-10">
          <button class="btn btn-default btn-block" type="button" (click)="onAddControl('locations')">Add More Locations</button>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group row" formArrayName="people">
      <label class="col-md-12" for="people-input-{{form.controls['people'].controls.length - 1}}">People:</label>
      <div class="col-md-12" *ngFor="let person of form.controls['people'].controls; let i=index;">
        <div class="col-xs-10">
          <input formControlName="{{i}}" placeholder="Example: Sang" id="people-input-{{i}}" class="form-control" />
        </div>
        <div class="col-xs-2">
          <button class="btn btn-default" type="button" *ngIf="i > 0" (click)="onRemoveControl('people', i)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-xs-10">
          <button class="btn btn-default btn-block" type="button" (click)="onAddControl('people', true)">Add another person</button>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group row" formArrayName="localImageUrls">
      <label class="col-md-12" for="images-input-{{form.controls['localImageUrls'].controls.length - 1}}">Images:</label>
      <div class="col-md-12" *ngFor="let image of form.controls['localImageUrls'].controls; let i=index;">
        <div class="col-xs-10">
          <input type="file" formControlName="{{i}}" accept="image/jpeg,image/png,image/jpg" title={{i}} id="images-input-{{i}}" class="form-control"
          />
        </div>
        <div class="col-xs-2">
          <button class="btn btn-default" type="button" *ngIf="i > 0" (click)="onRemoveControl('localImageUrls', i)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-xs-12">
          <span id="helpBlock" class="help-block">Acceptable images are jpeg, jpg, and png</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-xs-10">
          <button class="btn btn-default btn-block" type="button" (click)="onAddControl('localImageUrls', true)">Add another image</button>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <label class="col-md-12" for="url-input">Url (Link):</label>
      <div class="col-md-12">
        <div class="col-xs-10">
          <input formControlName="sourceUrl" id="url-input" placeholder="Example: www.facebook.com/nhoa/1234" type="url" class="form-control"
          />
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group row" formArrayName="paragraphs">
      <label class="col-md-12" for="paragraphs-input-{{form.controls['paragraphs'].controls.length - 1}}">Story:</label>
      <div class="col-md-12" *ngFor="let paragraph of form.controls['paragraphs'].controls; let i=index;">
        <div class="col-xs-10">
          <textarea rows="5" formControlName="{{i}}" placeholder="Paragraph" id="paragraphs-input-{{i}}" class="form-control"></textarea>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-default" type="button" *ngIf="i > 0" (click)="onRemoveControl('paragraphs', i)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-xs-10">
          <button class="btn btn-default btn-block" type="button" (click)="onAddControl('paragraphs', true)">Add another Paragraph</button>
        </div>
      </div>
    </fieldset>

    <div>
      <button class="btn btn-primary btn-block" type="submit" [disabled]="!isFormReady()">Save</button>
    </div>

  </form>
</div>
<div class="col-md-7">
  <main>
    <h2>Preview:</h2>
    <p>
      <b>Author: </b>{{story.author}}</p>
    <p>
      <b>Locations: </b>{{story.locations.join(', ')}}</p>
    <p>
      <b>People: </b>{{story.people.join(', ')}}</p>
    <p>
      <b>Url: </b>
      <a href="{{story.sourceUrl}}" target="blank">{{story.sourceUrl}}</a>
    </p>
    <div>
      <b>Images:</b>
      <div *ngFor="let imageFile of localImgSrcs">
        <img [src]="imageFile?.src" style="max-width:300px;" />
      </div>
    </div>
    <div>
      <b>Story: </b>
      <p *ngFor="let paragraph of story.paragraphs">
        {{paragraph}}
      </p>
    </div>
  </main>
</div>